table.components {
    border-style: solid;
    border-color: #000000;
    border-spacing: 0;
    border-collapse: collapse;
    border-width: 1px;
    width: auto;
}

thead.components {
    border-style: solid;
    border-color: #000000;
    background-color: #aaaaaa;
}

th.components {
    padding-left: 20px;
    padding-right: 20px;
}

td.components {
    padding-left: 20px;
    padding-right: 20px;
}

tr.components:hover {
    background-color: #cbcbcb;
}

.center {
  text-align: center;
}

A:link {
    text-decoration: underline;
    color: #000000;
}
A:visited {
    text-decoration: underline;
    color: #000000;
}
A:active {
    text-decoration: underline;
    color: #632813;
}
A:hover {
    text-decoration: none;
    color: #632813;
}
